{% extends 'layout.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}
<br />
<h1 style="font-family: 'Courier New', Courier, monospace;color: blue;font-size: 50px;text-align: center;">
    Welcome to URL Shortner</h1>
<br />
<form method='post'>
    <input type='text' name='in_1' placeholder='Enter original URL here' style="width: 400px;height: 25px;border-radius: 8px;margin-left: 550px;"><br><br>
    <button style="border-radius: 75px;height: 30px;width: 100px;margin-left: 700px;">Shorten</button>
</form>

{% endblock %}