.topnav{
    background-color: #7b76e3;
    overflow: hidden;
    height: 5%
}

.topnav a{
    float:right;
    color:white;
    font-size: 200%;
    text-align: center;
    padding:1% 1%;
}
.topnav a:hover{
    background-color: white;
    color: #7b76e3;
    border-color: #7b76e3;
}
#company_img {
   width:fit-content;
   height: fit-content;
   margin-left: 25%;
   margin-top: 40%;
}

#company_img2 {
    width: 100%;
    margin-left: 25%;
    margin-top: 40%; 
 }

.box1 {
    width: 30%;
    height:380px;
    background-color:#7b76e3;
    border-radius: 5%;
    margin-left: 65%;
    margin-top: 2%;
}

#email {
    color: aliceblue;
    margin-left: 15%;

}
#email_user {
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    height: 50%;
}
#pass_user{
    color: white;
    margin-left: 15%;
    padding-top: 50%;
}
#password_user {
    margin-top: 5% ;
    margin-left: 10%;
    width: 80%;
}
#button{
    width: 30%;
    margin-top: 30px;
    margin-left: 35%;
    text-align: center;
    color:white;
    background-color: black;
    border-radius: 10%;
    

}
#name_user{
    color: white;
    margin-left: 10%;
}
#name_user2{

    margin-left: 10%;
    width: 80%;
}
#email_signup2{
    color: white;
    margin-left: 10%;
}
#email_user2 {
    margin-left: 10%;
    width: 80%;

}
#password_signup2{
    color: white;
    margin-left: 10%;

}
#password_signup3{
    margin-left: 10%;
    width: 80%;
}
#button_regi{
    width: 30%;
    margin-top: 30px;
    margin-left: 35%;
    text-align: center;
    color:white;
    background-color: black;
    border-radius: 10%;    

}

